[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-black = "*"
pytest-flake8 = "*"
testfixtures = "*"
mock = "*"
flake8 = "<4.0"
sphinx = "*"
sphinx_rtd_theme = "*"
black = "==22.3.0"
typed_ast = {version="*", markers="python_version < '3.8'"}
importlib_metadata = {version="<5.0.0", markers="python_version < '3.8'"}

[packages]
# All production requirements from setup.cfg.
atip = {editable = true, path = "."}

[scripts]
tests = "python -m pytest atip tests --flake8 --black --cov=atip --cov-fail-under=70 --cov-report=term"
